<!doctype html>
<head>
	<title>namcap tag: %s</title>
	<link rel="stylesheet" type="text/css" href="/arch/arch.css" />
	<link rel="alternate" type="application/rss+xml" title="namcap tag: %s"
	  href="http://abhidg.mine.nu/arch/namcap-reports/tag/%s.rss" />
	<script type="text/javascript" src="/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="../togglers.js"></script>
</head>

<body>
<h1><span class="%s">%s</span>%s</h1>
<p>The list of all the tags can be found <a href="..">here</a>.<br/>
The following packages have the namcap tag: %s<br/>
The description of this tag is:</p>
<div class="%s">
%s
</div>
<p><img src="/i/feed-icon-14x14.png" alt="RSS" /> An <a href="%s.rss">RSS</a>
feed is available for this page.<br/>
toggle <a href="#" id="toggle-core">core</a> <a href="#" id="toggle-extra">extra</a>
<a href="#" id="toggle-community">community</a></p>
