<!doctype html>
<head>
	<title>namcap tag: %tag%</title>
	<link rel="stylesheet" type="text/css" href="/arch/arch.css" />
	<script type="text/javascript" src="/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="../togglers.js"></script>
</head>

<body>
<h1><span class="%tagclass%">%tagclass%</span>%tag%</h1>
<p>The list of all the tags can be found <a href="..">here</a>.<br/>
The following %pkgplural% the namcap tag: %tag%</p>

<p>toggle <a href="#" id="toggle-core">core</a>
<a href="#" id="toggle-extra">extra</a>
<a href="#" id="toggle-community">community</a></p>
